#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.image {
  height: 20vh
}

.travelContainer {
  display: flex;
  border: 1px solid white;
  margin: 15px;
}

.TagContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.Premium {
  padding: 5px;
  background-color: blue;
  border-radius: 5px;
}

.Great {
  padding: 5px;
  background-color: green;
  border-radius: 5px;
}
